<!doctype html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="/img/github.png">
    <title>Git Commits</title>
</head>
<body>
    <header>
        <div class="right">
            <img src="/img/github.png">
            <fieldset>
                <input id="search" type="text" placeholder="Search or jump to...">
                <fieldset class="barra">/</fieldset>
            </fieldset>
            <div>Pull request</div>
            <div>Issues</div>
            <div>Marketplace</div>
            <div>Explore</div>
        </div>
    </header>
    <section>
        <div class="sub-header">
            <div class="titulo-subheader">
                <p><a href="#">alexfrt</a> /<a href="#">uni7-tecnicas-2022.2</a></p>
            </div>
            <div class="options">
                <ul>
                    <li>Watch</li>
                    <li>Fork</li>
                    <li>Star</li>
                </ul>
            </div>
            <div class="funcions">
                <ul>
                    <li><> Code</li>
                    <li>Issues</li>
                    <li>Pull Request</li>
                    <li>Actions</li>
                    <li>Projects</li>
                    <li>Wiki</li>
                    <li>Security</li>
                    <li>Insights</li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>